# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Variables de entorno
.env

# Base de datos local
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db